<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <nav class="navbar">
    <h3 class="logo">CookBook</h3>
    <div class="nav-links">
      <a href="/posts">HOME</a>
      <% if (user) { %>
        <a href="/posts/new">CREATE POST</a>
        <a href="/users/<%= user._id %>">MY PROFILE</a>
        <a href="/users">FIND PROFILE</a>
      <% } %>
    </div>
    <div class="auth-links">
      <% if (user) { %>
        <a href="/logout" class="logout">LOG OUT</a>
      <% } else { %>
        <a href="/auth/google" class="login">LOG IN&nbsp;</a>
      <% } %>
    </div>
  </nav>
  <main>
