<%- include('../partials/header') %>

<form id="new-post" action="/posts" method="POST" class="create-form">
    <div class="input-group">
        <label class="create-label">Description:</label>
        <textarea name="description" class="create-input"></textarea>
    </div>
    <input type="submit" value="Create Post" class="create-submit">
</form>


<%- include('../partials/footer') %>